body {
	text-align: center;
}

h1 {
	position: absolute;
	color: rgba(39,64,127,.8);
	font-family: tahoma;
	font-size: 60pt;
	margin-left: 300px;
	margin-top: 55px;
}

#top {
	border: solid 1px black;
	background-color: black;
	border-width: 100%;
	border-height: 200%;
	margin-left: 0;
	margin-bottom: 0;
	margin-top: 0;
}

#welcome {
	float: right;
	margin-right: 350px;
	padding-left: 100px;
	padding-right: 100px;
	background-color: black;
	font-family: arial;
	color: white;
	font-size: 30pt;
}

nav ul li {
	display: inline;
	font-family: Arial;
	font-size: 18pt;
	list-style: none;
	padding-right: 110px;
	padding-left: 110px;

}

 nav ul a {
	color: black;
	text-decoration:none;
}

nav ul a:hover {
    color: white;
    text-decoration: none;
    background-color: black;
    background-size: 20px;
    cursor: hand;
    padding-top: 10px;
    padding-bottom: 10px
}

#socialMedia {
	list-style: none;
	position: relative;
	top: 50px;
	left: 500px;
	}

#upcoming {
	border: solid 2px black;
	float: right;
	margin-top: 30px;
	margin-right: 365px;
	padding: 15px;
	
}

h2 {
	text-decoration: underline;
	font-family: Arial;
}

.date {
	font-family: arial;
	font-size: 30pt;
	position: relative;
}

.calendar {
float: left;
margin-left: 10px;
};